@import './_variables';

body {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 18px;
}

.chatroom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

app-chatbox {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .chatroom {
    flex-direction: row;
  }
}

.add-user {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: $highlight-color;
  color: white;
  bottom: 20px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  transition: ease-in all .3s ;
  &:hover {
    background-color: $highlight-hover-color;
  } 
  &.disabled {
    background-color: $disabled-background-color;
    cursor: not-allowed;
  }
}